
@{
    ViewBag.Title = "Test";
}

<h2>Login Test</h2>

<p>Protect an API by using OAuth 2.0 with Azure Active Directory and API Management</p>
<p><a href="http://cloudpracticum.azurewebsites.net/swagger/docs/v1">View Swagger Schema</a></p>


